.cl {clear: both; overflow-y: hidden;}
.pr {position: relative;}
.pa {position: absolute;}
[onclick] {cursor: pointer;}

#select_sc {width:100%; min-width: 400px;}

#select_sc .header {height:50px;border-bottom:#000000 solid 1px;background:#343B48;}
#select_sc .header h1 {float:left;padding:3px 20px 0 20px;margin:0;font-size:26px;color:#ffffff; line-height: 40px}
#select_sc .header .guide {float:left;border-left:#999 dotted 1px;color:#888;font-family:dotum;font-size:11px;line-height:150%;margin:10px 0 0 0;padding:0 0 0 20px;}

#select_sc .line1 {height:1px;background:#1ACAD4;}
#select_sc .line2 {height:2px;background:#0BA2B4;}
#select_sc .line3 {height:1px;background:#037F93;}

#select_sc .content {width:75%; height:390px;padding:15px 5px;  float: left; box-sizing: border-box;    overflow-y: auto;}
#select_sc .contentside {width:25%; height:390px;padding:15px; overflow-y:auto;overflow-x:hidden; float: right; box-sizing: border-box;}
#select_sc .contentside tr td , #select_sc .contentside tr th {height: 35px;}
#select_sc .contentside table {border-collapse: collapse; width: 100%; table-layout:fixed; }
#select_sc .contentside .pic {display: inline-block; width: 40px; height: 40px; box-sizing: border-box; padding: 10px; border-radius: 30px;}
#select_sc .contentside .del {display: inline-block; width: 15%; height: 35px; padding: 0px 5px 0px 5px; box-sizing: border-box;  right:0px; top:0px; line-height: 35px;}


table {width: 100%; text-align: center; border-collapse:collapse; font-size: 12px; }
table tr th, table tr td{line-height: 20px;}
table tr th, table tr:hover{background-color: #ddd;}
table tr.active{background-color: #99ccff;}


#select_sc .footer {height:40px;border-top:#dfdfdf solid 1px;text-align:center;padding:10px 0 0 0;}
