
	/* 메인 수강신청 관련 */
	body {background-color: #F6F6F6;}
	#d_apply_list { margin:0px auto 65px auto; } 
	#d_apply_list .times_box{ margin:20px 0 40px 0; padding: 30px 0; border:solid 1px #E0E0E0; background-color: #FFF; overflow-y: hidden;} 
	#d_apply_list .times_box > ul > li {float:left; display: inline-block; width: 20%; height: 310px; padding: 30px 65px; text-align: center; font-size:14px; box-sizing: border-box;}
	#d_apply_list .times_box > ul > li img {box-sizing:border-box; border-radius: 50px; width: 60px; height: 60px; border:solid 1px #ddd;}
	#d_apply_list .times_box > ul > li .apply_btn {width: 0%; height: 42px; line-height: 42px; color: #FFF; background-color: #704DE4; border:none; font-size:16px; margin: 10px 0;}
	#d_apply_list .times_box > ul > li .apply_btn:hover {background-color: #FEC55A;}
	#d_apply_list .times_box > ul > li .mentor_job {font-size:16px; font-weight: bold; height: 30px; color:#6F4DE3; display: -webkit-box; -webkit-line-clamp: 2; /* 라인수 */}
	#d_apply_list .times_box > ul > li .mentor_name {font-size:16px; font-weight: bold; height: 20px; color:#000; margin-top: 10px;}
	#d_apply_list .times_box > ul > li .mentor_pic {height: 100px; color:#6F4DE3;}
	#d_apply_list .times_box > ul > li .mentor_pic img {border-radius: : 50px; -moz-border-radius: 50px; -webkit-border-radius: 50px; }
	#d_apply_list .times_box > ul > li .ellipsis{ overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; word-wrap:break-word; } 

		/* 개인 상단 */
	#list_head { height: 120px; padding: 20px 0;  color:#FFF; text-align: center; font-size: 18px; line-height: 20px;}
	#list_head h1 { font-size: 26px; line-height: 30px;}
	#list_head img {border-radius: 100px; border:solid 3px #fec55a; margin:10px;}

	#apply_popup {
		width: 100%;
		border-top:solid 1px #E0E0E0;
		border-left:solid 1px #E0E0E0;
		border-right:solid 1px #E0E0E0;
	}
	#apply_popup > .cl{
		padding:0 10px; 
	}
	#apply_popup > .cl.boxing{
		height: 240px;
		overflow-y: scroll;
		margin: 15px 0;
	}
	#apply_popup > .cl.boxing table tr th, #apply_popup > .cl.boxing table tr td{
		height: 40px;
		line-height: 40px; 
		text-align: center;
		border-collapse: collapse;
		border:solid 1px #828282;
		border-left: none;
		border-right: none;
	}
	#apply_popup .otitle{
		margin:1px 0; height:40px; line-height: 40px; font-weight: bold;
	}
	#apply_popup .black_cancel{
		display: inline-block;	background-color: #000; 
		width: 75px;height: 30px;font-size: 15px; 
		line-height: 30px;margin: 5px 10px;border:none;color:#FFF;
	}
	#apply_popup .black_cancel:hover {
		background-color: #666;
	}
	#apply_popup_wrap {position: fixed; bottom: -271px; width: 100%; z-index: 150;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
     }
	#apply_popup_wrap.active {bottom:0;}
	#apply_popup_wrap.active .close,
	#apply_popup_wrap .open {display: block;}
	#apply_popup_wrap .close,
	#apply_popup_wrap.active .open {display: none;}


	body {background-color: #f6f6f6};
	.bs *{box-sizing: border-box;}
	.all_tabs {background-color: #f6f6f6;}
	#apply_tab_btn ul li {display:inline-block; width: 25%; height: 50px; background-color: #FFF; color:#828282; line-height: 50px;
	 border:solid 1px #ddd; border-left:none; border-top:none; font-weight: bold; font-size: 16px; box-sizing: border-box;}
	#apply_tab_btn ul li.active {background-color: #fec55a; color:#FFF;}
	
	.apply_box * {box-sizing: border-box; }
	.apply_box {margin: 10px; line-height: 20px; font-size: 14px; }
	.apply_box .mentor_pic img {width: 70px; height: 70px; border-radius: 100px; border: solid 1px #ddd;}
	.apply_box .apply_btn input[type="button"] {width: 80px; height: 40px; margin: 10px 0; background-color:#fec55a; color:#FFF; font-size:14px; border: none;}
	.team_wrap {padding: 22px 100px; width: 100%; height: 90px; background-color: #FFF; border: solid 1px #ddd; margin: 10px 0;}

	
	.ellipsis {text-overflow:ellipsis;white-space:nowrap;word-wrap:normal; overflow-x: hidden;}


	#bottom_topbtn {bottom: 50px !important;}