	.btn.bigbtn {width: 30%; margin:0 1%; border: solid 2px #FFF; color:#FFF; padding: 10px 0;}
	.btn.bigbtn:hover, .btn.bigbtn.active {border: solid 2px #fec55a; background-color: #fec55a;}

	.btn.bigbtngray {width: 50%; border: solid 2px #666; color:#666; padding: 10px 0; box-sizing: border-box; float: left;}
	.btn.bigbtngray:hover, .btn.bigbtngray.active {border: solid 2px #fec55a; background-color: #fec55a; color:#FFF;}

	.hide {display: hidden;}

	article > .inner_wrap {width: 1040px; margin:0 auto;}
	.cl.cp.center.ellipsis {margin-top: 12px;}


	#tabMenuBtn .btn.tabBtn {width: 33%; height: 40px; box-sizing: border-box; float: left;
    line-height: 40px; font-size: 20px; border: solid 1px orange;
    background-color: #FFF; color: orange; border-right: none;}
    #tabMenuBtn .btn.tabBtn.last {border-right: solid 1px orange;}
    #tabMenuBtn .btn.tabBtn:hover,#tabMenuBtn .btn.tabBtn.active {background-color: orange; color:#FFF;}
	
	.tabKeyword {width: 199px; height: 34px; line-height: 34px; font-size: 16px; box-sizing: border-box; border:solid 1px #999; color: #999; padding: 0 5px; }
	.tabSubmit {padding: 0 10px; height: 34px; box-sizing: border-box; background: transparent; border:solid 1px #999; color: #999; cursor: pointer;}
	.tabCate {padding: 0 10px; height: 34px; box-sizing: border-box; background: transparent; border:solid 1px #999; color: #999; cursor: pointer; width: 296px; margin-top:5px; line-height: 34px; font-size: 16px; }

	.tanMain {margin: 60px 0;}
	.tanMain .d_job_more {margin-top: 40px;}
	.tanMain ul li {float: left; width: 110px; height: 190px; margin:0 9px 10px 9px;}
	.tanMain ul li .jobIconBg {width: 110px; height: 110px; border-radius: 55px; background-color: #8b8e9e; background-repeat: no-repeat; background-position: center center;}
	.tanMain ul li:hover .jobIconBg {background-color: #fcc65d}

	.tanMain ul li .mentorIconBg {width: 110px; height: 110px; border-radius: 55px; background-color: #8b8e9e; background-repeat: no-repeat; background-position: center center; background-size: cover;}
	.tanMain ul li:hover .mentorIconBg {background-color: #fcc65d}

	.tanMain ul li .jobIconBgMore {width: 110px; height: 110px; border-radius: 55px; background-color: #734fb0; background-repeat: no-repeat; background-position: center center;}
	.tanMain ul li:hover .jobIconBgMore {background-color: #6600ff}



	.myJobList, .allJobList {font-size: 17px; line-height: 30px; text-align: center; height: 110px; margin-bottom: 90px;}

	.myMentorList, .allMentorList {font-size: 15px; line-height: 24px; text-align: center;}