h2 { clear: both; font-size:24px; margin-bottom: 20px; line-height: 30px;}

#box_interview,#box_intro,#box_menti  {
	color : #666;
	margin-bottom: 70px;
	line-height: 25px;
}
#box_interview > #pic {
	float: left;
	width: 300px;
	height: 223px;
	border: solid 1px #f4f4f4;
}
#box_interview > .bcontent {	color:#666; float: left; width: 545px;	height: 185px; background-color: #f4f4f4; padding: 10px; font-size: 14px; line-height: 28px; padding: 20px;}
#box_interview > .bcontent > h1{ font-weight:normal; font-size: 34px; line-height: 40px; color:#000; }
#box_interview > .bcontent > h4{ font-weight:normal; font-size: 14px; line-height: 40px; color:#999; }

.btn.menti_box {padding: 10px; background-color: #FEC55A; border-radius: 30px; margin:0 5px 10px 0;}
.btn.menti_box:hover {background-color: #333; color:#FFF;}


#box_timeline  {
	color : #666;
	margin-bottom: 70px;
}

.time_list {width: 280px; margin: 0 20px 30px 0px; line-height: 1.5em; float: left;  font-size: 12px;}
.time_list:hover h1 {color:#FEC55A; cursor: pointer;}
.time_list h1 {font-weight: normal; font-size: 19px; color: #444; overflow: hidden;  text-overflow:ellipsis;  white-space:nowrap; margin: 0 20px 5px 20px;}
.time_list h3 {font-weight: normal; font-size: 15px; color:#999; }
.time_list h4 {font-weight: normal; font-size: 12px; color:#999;}
.time_list .midline {width: 50px; border-bottom: solid 2px #999; display: block; margin:10px auto;}
.time_list .time_pic {width: 280px; height: 223px; background-color: #ddd; margin-bottom:20px;}
